*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    height: 100%;
}

/*Header Items*/
.header-container{
    display: flex;
    justify-content: center;
    flex: 1 1;
    background: #1F2937;
}

.header-body{
    width: 1000px;
    color: #F9FAF8;
    padding: 0 36px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.page-links{
    display: flex;
    gap: 24px;
}

.page-links a{
    text-decoration: none;
    color: #F9FAF8;
}

.header-content{
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 64px;
    padding: 64px 0;
}

.content-left, .content-right{
    flex: 1;
}

.content-left h1{
    font-size: 48px;
    font-weight: 900;
}

.content-left p{
    margin-bottom: 12px;
}

.content-left button{
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(117, 117, 117);
}