*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100%;
}

/*Header Items*/
.header-container{
    display: flex;
    justify-content: center;
    flex: 1 1;
    background: #1F2937;
}

.header-body{
    width: 1000px;
    color: #F9FAF8;
    padding: 0 36px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 24px;
    font-weight: 900;
}

.page-links{
    display: flex;
    gap: 24px;
}

.page-links a{
    text-decoration: none;
    color: #F9FAF8;
}

.header-content{
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 64px;
    padding: 64px 0;
}

.content-left, .content-right{
    flex: 1;
}

.content-left h1{
    font-size: 48px;
    font-weight: 900;
}

.content-left p{
    margin-bottom: 12px;
}

.content-left button{
    padding: 8px 32px;
    border: 0;
    border-radius: 8px;
    background: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(117, 117, 117);
}

/*01 Body Items - Random Info*/

.body-01{
    text-align: center;
    padding: 48px 32px;
}

.body-01 h2{
    margin-bottom: 48px;
    font-size: 32px;
}

.graphics-01{
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
}

.info-items{
    max-width: 150px;
}

.box{
    margin-bottom: 8px;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 16px;
}

/*02 Body Items - Quote */

.body-02{
    display: flex;
    padding: 0 32px;
    justify-content: center;
    background: #E5E7EB;
}

.quote-container{
    padding: 96px 0;
    width: 775px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.sign{
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}